/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
    background-color: #F0F0F0;
    overflow: hidden;
}
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }
body .ui-megamenu{
    background-color: #F0F0F0 !important;
    margin-bottom: 10px;
}
body .ui-menuitem{
    border-right: 1px solid rgb(179, 182, 238);
    border-radius: 0px;
}
