<div id="background-image">
  <!-- Your existing content here -->
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <div class="welcome-text">
    <b><h1>Welcome! Please navigate to the desired module through the menu!</h1></b>
  </div>
  <div class="technology-details">
    <h3>Technology details</h3>
    <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)">
      <ng-template let-node >
        {{node.label}}
      </ng-template>
    </p-organizationChart>
  </div>
</div>
